* {
	  margin: 0;
	  padding: 0;
    box-sizing: border-box;
    font-family: Century copperplate;
}

html{
	background: gray;
}

.Left-Container{
  position: relative;
  left: 20%;
  margin-top: 10px;
}

.skl{
	  position: relative;
    max-width: 800px;
    height: 400px;
    background-color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
}

.Right-container{
  position: relative;
  margin-top: -297px;
  left: 60%;
}

.skl .skills-container {
  margin-top: 10px;
  width: 30%;
  background-color: #ddd;
}

.skills {
  text-align: right; 
  color: white; 
}

/* start of skills styling*/
.word {width: 90%;background-color: #4CAF50;} 
.python {width: 80%; background-color: #4CAF50;} 
.java {width: 65%; background-color: #4CAF50;} 
.photoshop {width: 60%; background-color: #4CAF50;}
.comunication {width: 75%; background-color: #4CAF50;}
.organization {width: 80%; background-color: #4CAF50;}
.motivation {width: 90%; background-color: #4CAF50;}

/* End of skills styling*/