* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	list-style: none;
    font-family: Century copperplate;
}

html{
	background: gray;
}

header{
	position: absolute;
	width: 100%;
	height: 400px;
	padding: 0 80px;
	justify-content: space-between;
	align-items: center;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./images/mac.jpg);
	z-index: 1000;
}

.main ul{
	float: right;
	list-style-type: none;
	margin-top: 20px;
	margin-left: 50px;
}

.main ul li{
	display: inline-block;
}

.main ul li a{
	position: 50%;
	padding: 9px 20px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.main ul li a:hover{
    background-color: #fff;
    color: #000;
}

.main ul li.active a{
    background-color: #fff;
    color: #000;
}

.inner-container{
	position: fixed;
    max-width: 900px;
    height: 480px;
    padding: 40px 50px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 200px 250px;
    box-shadow: 0px 0px 18px 0 #0000002c;
    z-index: 1000;
}

.inner-container .right-column{
	position: absolute;
    width: 5000px;
    height: 100px;
    left: 50%;
    top: 10%; 
}