* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: Century copperplate;
}

html{
    background: gray;
}
header{
    position: fixed;
    height: 350px;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./images/mac.JPG);
    z-index: -1;
}

ul{
    position: fixed;
    left: 60%;
    top: 2%;
    list-style-type: none;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.inner-container{
    max-width: 900px;
    height: 480px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
    box-shadow: 0px 0px 18px 0 #0000002c;
}

.inner-container:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

/*.inner-container .left-column{
    width: 50px;
    height: 100px;
}*/

.inner-container .left-column .photo{
    position: fixed;
    left: 300px;
    top: 250px;
}

.inner-container .right-column{
    width: 50px;
    height: 100px;  
}

.right-column h1 {
    position: fixed;
    font-size: 4px;
    margin-bottom: 10px;
    float: right;
    left: 50%;
    padding-left: 500px;
}

.main span{
    font-size: 20px;
    padding-left: 420px;
}