	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		list-style: none;
		font-family: Century copperplate;
	}

	html{
		background: gray;
	}

/*Start of header section*/

header{
	height: 500px;
	justify-content: space-between;
	align-items: center;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url(./images/desktop.jpg);
}

.main ul{
	float: right;
	list-style-type: none;
	margin-top: 20px;
	margin-left: 50px;
}

.main ul li{
	display: inline-block;
}

.main ul li a{
	position: 50%;
	padding: 9px 20px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.main ul li a:hover{
    background-color: #fff;
    color: #000;
}

.main ul li.active a{
    background-color: #fff;
    color: #000;
}

/*End of header section*/

/*Start of the conatiner section in the first page */
.inner-container{
	position: absolute;
    height: 82%;
	border-radius: 10px;
    background-color: #fff;
    width: 70%;
	box-shadow: 0px 0px 18px 0 #0000002c;
	margin-left: 13%;
	top: 15%;
}

.inner-container .right-column{
	position: fixed;
	display: inline-block;
    width: 35%;
	height: 75%;
	padding: 3%;
}

.inner-container .right-column .welcome{
	font-size: 1.7rem;
	font-family: sans-serif;
}

.inner-container .left-column{
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 20px;
}

.photo{
	width: 80%;
	height: 80%;
	margin: 10%;
}

span{
	display: block;
}

.inner-container .right-column .text1{
	color: black;
	font-size: 38px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 5px;
	background: white;
	position: relative;
	animation: text 3s 1;
}

.inner-container .right-column .text2{
	font-size: 30px;
	color: black;
	font-weight: 700;
}

@keyframes text {
	0%{
		color: black;
		margin-bottom: -40px;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}

.weather-container{
	margin: 10%;
	width: 60%;
	height: 30%;
}
/*End of the conatiner section in the first page */

/*start of Buttons in the first page*/

.buttons{
	position: relative;
	padding: 10px 30px;
	text-decoration: none;
	border: 2px solid red;
	color: black;
}

.buttons:hover {
	color: white;
	background-color: crimson;
}
/*End of Buttons in the second page*/

/*Start of introduction in the second page*/
.intro-content{
	text-align: center;
	width: 40%;
	height: 40%;
	margin: auto;
}

.introduction{
	display: inline-flex;
	padding: 0%;
}

.intro-pic {
	border: 3px solid #ddd;
	border-radius: 4px;
	padding: 1%;
	margin: 3%;
	width: 20%;
  }
  
  .intro-pic:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .details {
	color: black;
	font-size: 1.1rem;
  }

  .p-detail {
	color: black;
	font-size: 1.1rem;
  }

  
/*End of introduction in the second page*/

/* Container for footer in the second page*/
.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
  }
  
  
  /* End of Container for footer  */
  
  /*Aligning titles to center*/
  .journey{
	text-align: center;
  }
  
  h1 {
  text-align: center;
  }
  /*End*/


/*Start of skills section*/
.skl{
	position: relative;
	height: 400px;
	background-color: #fff;
	width: 60%;
	margin: auto;
	background-color:  #3ca0d9;
  }
  
  .Left-Container{
	position: relative;
	padding: 10px;
	height: 100%;
  }
  
  .Right-container{
	position: relative;
	float: right;
	bottom: 97%;
	width: 50%;
  }

  .Right-container .h1{
	float: right;
  }

  .p{
	  float: right;
  }
  
  .skl .skills-container {
	margin-top: 10px;
	width: 30%;
	background-color: #ddd;
  }
  
  .skills {
	text-align: right; 
	color: white; 
  }
  
  /* start of skills bar styling*/
  .word {width: 90%;background-color: rgb(13, 59, 208);} 
  .python {width: 80%; background-color: rgb(13, 59, 208);} 
  .java {width: 65%; background-color: rgb(13, 59, 208);} 
  .photoshop {width: 60%; background-color:rgb(13, 59, 208);}
  .comunication {width: 75%; background-color: rgb(13, 59, 208);}
  .organization {width: 80%; background-color: rgb(13, 59, 208);}
  .motivation {width: 90%; background-color:rgb(13, 59, 208);}
  
  /* End of skills bar styling*/

  
  /* Start of styling social icons */
  .fa {
	position: relative;
	padding: 20px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background-color: white;
	transition: 0.5s;
	box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  
  .fa:hover {opacity: 0.7;transform: rotate(0deg) skew(0deg) translate(0, -10px)}
  
  .fa-facebook {background: #3B5998;color: white;}
  .fa-telegram {background: #55ACEE;color: white;}
  .fa-github{background: gray;color: white;}
  .fa-whatsapp{background: chartreuse;color: white;}
  
  /* End of styling social icons */

  /* Start of timeline for Education and Experience */
  .timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
  }

  .timeline-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
  }
  
  .timeline-container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
  }
  
  .left {
	left: 0;
  }
  
  .right {
	left: 50%;
  }
  
  .left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
  }
  
  .right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
  }
  
  .right::after {
	left: -16px;
  }
  
  .content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
  }
   /* End of timeline for Education and Experience */